<form class="card" [formGroup]="projectsForm" (ngSubmit)="sendProject()">

    <div class="input-content">
        <label class="title">
            Project name
        </label>
        <input type="text" class="data" 
            formControlName="projectName"
            [class.errors]="projectsForm.get('projectName')?.invalid && projectsForm.get('projectName')?.touched"
        >
        <small class="message"
            *ngIf="projectsForm.get('projectName')?.invalid && projectsForm.get('projectName')?.touched"
        >The project name is required</small>
    </div>

    <div class="input-content">
        <label class="title">
            Description
        </label>
        <input type="text" class="data"
        formControlName="description"
        [class.errors]="projectsForm.get('description')?.invalid && projectsForm.get('description')?.touched"
        >
        <small class="message"
            *ngIf="projectsForm.get('description')?.invalid && projectsForm.get('description')?.touched"
        >The description is required</small>
    </div>

    <div class="input-content">
        <label class="title">
            Project manager
        </label>
        <select class="data"
        formControlName="manager"
        [class.errors]="projectsForm.get('manager')?.invalid && projectsForm.get('manager')?.touched"
        >
            <option disabled>Select a person</option>
            <option value="2">person</option>
            <option value="3">person</option>
        </select>
        <small class="message"
            *ngIf="projectsForm.get('manager')?.invalid && projectsForm.get('manager')?.touched"
        >The project manager is required</small>
    </div>
    <div class="input-content">
        <label class="title">
            Assigned to
        </label>
        <select class="data"
        formControlName="assigned"
        [class.errors]="projectsForm.get('assigned')?.invalid && projectsForm.get('assigned')?.touched"
        >
            <option value="1" disabled>Select a person</option>
            <option value="2">person</option>
            <option value="3">person</option>
        </select>

        <small class="message"
            *ngIf="projectsForm.get('assigned')?.invalid && projectsForm.get('assigned')?.touched"
        >The assigned to is required</small>
    </div>

    <div class="input-content">
        <label class="title">
            Status
        </label>
        <select class="data"
        [class.errors]="projectsForm.get('status')?.invalid && projectsForm.get('status')?.touched"
        formControlName="status"
        >
            <option value="1" disabled>Enable</option>
            <option value="2">state</option>
            <option value="3">state</option>
        </select>
        <small class="message"
            *ngIf="projectsForm.get('status')?.invalid && projectsForm.get('status')?.touched"
        >The status is required</small>
    </div>

    <input class="send" type="submit" value="Crate Project">

</form>
