.card {
    width: 600px;
    // height: 550px;
    background: #fff;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;

    .input-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        .title {
            padding-bottom: 2px;
        }

        .data {
            padding: 10px;
            border: 1px solid #cfcece;
            outline: none;
            border-radius: 5px;
        }

        .message {
            margin-top: 5px;
            color: #F5222D;
        }

        .data.errors {
            border: 1px solid #F5222D;
        }
    }

    .send {
        padding: 10px 15px;
        border: none;
        color: #fff;
        background: #F5222D;
        border-radius: 5px;
        cursor: pointer;
    }

}
@media screen and (max-width: 633px) {
    .card {
        width: 350px;
    }
}