<div class="project-conteiner">
    
    <div class="card">
        <table class="projects">
            <thead>
                <tr class="projects-head" *ngIf="mobile">
                    <th class="head">Project info</th>
                    <th class="head">Project Manager</th>
                    <th class="head">Assigned to</th>
                    <th class="head">Status</th>
                    <th class="head">Accion</th>
                </tr>
            </thead>

            <tbody class="content">

                <tr class="content-data" *ngFor="let project of projects | paginate: { itemsPerPage: 3, currentPage: page }">
                    <td class="data">
                        <div class="data-info">
                            <span>{{ project.projectInfo }}</span>
                            <small>Creation date:  09/09/2020 10:30 am</small>
                        </div>
                    </td>

                    <td class="data" *ngIf="mobile">
                        <div class="manager">
                            <img src="https://placekitten.com/g/200/300">
                            <span class="data-info">{{ project.projectManager }}</span>
                        </div>
                    </td>

                    <td class="data">
                        <div class="manager">
                            <img src="https://placekitten.com/g/200/300">
                            <span class="data-info">{{ project.assigned }}</span>
                        </div>
                    </td>
                    <td class="data" *ngIf="mobile"> 
                        <span class="status">Enable</span>
                    </td>
                    <td class="data">
                        <div class="dropdown">
                            <i class="fa fa-ellipsis-v dropbtn" aria-hidden="true"></i>
                            <div class="dropdown-content">
                              <a href="#">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                              </a>
                              <a href="#">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                              </a>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        
    </div>
</div>
