.project-conteiner {
    width: 100%;
    height: 100vh;
    
    .card {
        max-width: 90%;
        margin: 0 auto;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        background: #fff;

        .projects {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9rem;
            width: 100%;

            th, td {
                padding: 20px;
            }

            .projects-head {

                .head {
                    background: #e9e9e9;
                    text-align: left;
                    padding: 20px;
                    font-weight: bold;
                }

            }
            .content {
                background: #fff;

                .content-data {
                    border: 1px solid #f2f2f2;

                    .data .data-info {
                        display: flex;
                        flex-direction: column;
                        
                        span {
                            margin-bottom: 5px;
                        }
                        small {
                            color: #747474;
                        }
                    }
                    
                    .data .manager {
                        display: flex;
                        align-items: center;

                        span {
                            padding-left: 10px;
                        }
                    }

                    .data img {
                        background: red;
                        height: 25px;
                        width: 25px;
                        border: none;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .data .status {
                        border: 1px solid #e4e3e3;
                        padding: 5px 10px;
                        background: #f2f2f2;
                        border-radius: 5px;
                        color: #1d1d1d;
                    }

                    /* Dropdown Button */
                    .dropbtn {
                        padding: 10px;
                        border: none;
                    }
                    
                    /* The container <div> - needed to position the dropdown content */
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    
                    /* Dropdown Content (Hidden by Default) */
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }
                    
                    /* Links inside the dropdown */
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }
                    
                    /* Change color of dropdown links on hover */
                    .dropdown-content a:hover {background-color: #ddd;}
                    
                    /* Show the dropdown menu on hover */
                    .dropdown:hover .dropdown-content {display: block;}
                }
            }
        }

    }

    .pagination {
        width: 100%;
        margin: 15px auto;
        text-align: center;
        padding: 10px 0;
    }
    
    @media screen and (max-width: 633px) {
        tr, td {
            padding: 5px 10px !important;
        }
    }
    
}

