.content-header {
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    .navigation-content {
        max-width: 90%;
        margin: 0 auto;
        background: inherit;

        .logo {
            padding: 8px 0;
            cursor: pointer;
        }

        .line {
            width: 200%;
            margin-left: -50%;
            border: 1px solid #f2f2f2;
        }

        .details {
            width: 100%;
            padding: 8px 0;
            padding-bottom: 8px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #0c0b0b;

            .wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: rgb(117, 117, 117);

                    span {
                        font-size: 13px;
                        margin: 2px 10px 0 10px;
                    }
                }
            }
        }

        .cta {
            padding: 8px;
            border: 0;
            background: #F5222D;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}