<div class="content-header">
    <nav class="navigation-content">
        <div class="logo" [routerLink]="['/']">
            <img src="../../../assets/logo.png" alt="Esto Es">
        </div>

        <hr class="line">

        <div class="details">
            <div class="wrap">
                <a (click)="lastPage()" *ngIf="back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span>Back</span>
                </a>
                <h2 class="title" *ngIf="routeHeader === '/projects'">My projects</h2>
                <h2 class="title" *ngIf="routeHeader === '/projects/add'">Add projects</h2>
                <h2 class="title" *ngIf="routeHeader === '/projects/edit'">Edit projects</h2>
            </div>
            <button class="cta" [routerLink]="['projects/add']" *ngIf="!back">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add projects
            </button>
        </div>
    </nav>
</div>
